<div class="container" id ="cambio"  [@transitionTest]=currentState>
        <form [formGroup]="form2" (ngSubmit)="cambiaPassword()">
        <div class="row">
            <div class="col-sm-4">
                
                <label>Email</label>
                <div> 
                    <input type="email" required formControlName="email" class="form-control" name="email" title="Email valido" placeholder=" Email">
                </div>
                <label>Vecchia Password</label>
                <div> 
                    <input type="password" required formControlName="psw1" class="form-control" id="psw1" name="psw1" title="numero, lettera maiuscola e minuscola,e un simbolo tr (*@_\#$%!<>) almeno 8 caratteri " placeholder=" Vecchia Password">
                    <input type="checkbox" (click)="mostra1()">Mostra
                    <p *ngIf="!comparePass1()">
                        Pass does not match!
                    </p>
                </div> 
                   <label>Nuova Password</label>
                <div class="form-group pass_show"> 
                        <input type="password" required formControlName="psw2" class="form-control" id="psw2" name="psw2" title="numero, lettera maiuscola e minuscola,e un simbolo tr (*@_\#$%!<>) almeno 8 caratteri " placeholder=" Nuova Password">                </div> 
                        <input type="checkbox" (click)="mostra2()">Mostra<br>
                        <p *ngIf="!verifyIfPassDifferent()">
                            Cannot enter same password!
                        </p>
                     <label>Conferma Password</label>
                <div class="form-group pass_show"> 
                        <input type="password" required formControlName="psw3" class="form-control" id="psw3" name="psw3" title="numero, lettera maiuscola e minuscola,e un simbolo tr (*@_\#$%!<>) almeno 8 caratteri " placeholder=" Nuova Password"> 
                        <input type="checkbox" (click)="mostra3()">Mostra
                        <p *ngIf="!comparePass2()">
                            Pass does not match!
                        </p>
                </div> 
                
            </div>  
        </div>
        <button type="submit" class="btn btn-outline-primary " [disabled]="!form2.valid || !comparePassNew || !comparePassEsistente || !differentInputs">Conferma</button>
        </form>