<div class="container" id ="cambio"  [@transitionTest]=currentState>
    <i class="fas fa-unlock" id="titolo"><a class="titolo"> Cambia Password</a></i>
    <mat-form-field appearance="outline">
        <form [formGroup]="form2" (ngSubmit)="cambiaPassword()">

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">
                        <i class="fas fa-at"></i>
                    </span>
                </div>
                <div>
                    <input type="email" required formControlName="email" class="form-control" name="email" title="Email valido" placeholder=" Email">
                </div>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">
                        <i class="fab fa-keycdn"></i>
                    </span>
                </div>
                <div>
                    <input type="password" required formControlName="psw1" matInput #password
                    [type]="toggle1.type" class="form-control" id="psw1" name="psw1" title="Almeno un Numero, lettera Maiuscola e Minuscola, un Simbolo tra ( * @ _ \ # $ % ! < > ), almeno 8 caratteri." placeholder=" Password Attuale">
                </div>
                <mat-pass-toggle-visibility #toggle1></mat-pass-toggle-visibility>
                <p class="allerta" *ngIf="!comparePass1()">
                  <i class="fas fa-exclamation-triangle"></i> La Password non è corretta.
                </p>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <div>
                    <input type="password" required formControlName="psw2" matInput #password
                    [type]="toggle2.type" class="form-control" id="psw2" name="psw2" title="Almeno un Numero, lettera Maiuscola e Minuscola, un Simbolo tra ( * @ _ \ # $ % ! < > ), almeno 8 caratteri." placeholder=" Nuova Password">
                </div>
                <mat-pass-toggle-visibility #toggle2></mat-pass-toggle-visibility>

            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <div>
                    <input type="password" required formControlName="psw3" matInput #password
                    [type]="toggle3.type" class="form-control" id="psw3" name="psw3" title="Almeno un Numero, lettera Maiuscola e Minuscola, un Simbolo tra ( * @ _ \ # $ % ! < > ), almeno 8 caratteri." placeholder=" Conferma Password">
                </div>
                <mat-pass-toggle-visibility #toggle3></mat-pass-toggle-visibility>
                <p class="allerta" *ngIf="!comparePass2()">
                  <i class="fas fa-exclamation-triangle"></i> La Password non è la stessa.
                </p>
            </div>
          <div class="container" id="bottone">
            <button type="submit" class="btn btn-outline-light" [disabled]="!form2.valid || !comparePassNew || !comparePassEsistente || !differentInputs">Conferma <i class="fab fa-telegram-plane"></i></button>
          </div>
        </form>
    </mat-form-field>
</div>
