.example-container {
    width: auto;
    height: 100%;
    background-color: #a1a1a186;
    top: 0;
    left: 0;
    position: fixed;
    transition: 0.5s;
    font-size: 30px;
    transition: 1000ms;
}

.passwordChangedBox{
    height: auto; 
    width: auto;
    position: absolute;
    right: 45%;
    bottom: 0; 
    background-color: #111; 
    overflow-y: hidden;
    transition: 0.5s;
}

.registrationSidenav{
    height: auto; /* 100% Full-height */
    width: auto;
    position: absolute;
    right: 45%;
    bottom: 0; /* Stay at the bottom */
    background-color: #111; /* Black*/
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.duplicatedEmailError{
    height: auto; /* 100% Full-height */
    width: auto;
    position: absolute;
    right: 45%;
    bottom: 0; /* Stay at the bottom */
    background-color: #111; /* Black*/
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.example-container p{
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    font-size: 20px;
    display: inline;
    padding : 8px;
    transition: 0.3s;
    color: rgb(252, 252, 252);
}
#menu-icon{
    padding-bottom: 30px;
}

#home-icon{
    padding-bottom: 30px;
}

#pass-icon{
    bottom: 0;
    position: absolute;
}
#pass-icon p{
    display: inline-block;
}

.icon-column i{
    display: relative;
    text-align: center;
    padding-top: 60px;
    display: block;
    padding : 10px 10px 10px 32px;
    padding-bottom: 30px;
    transition: 0.3s;
    color: rgb(252, 252, 252);
}

.example-container i:hover{
    color: black;
}

.example-container p:hover{
    color: black;
}

.root-container{
    justify-content: center;
}