.example-container {
    width: auto;
    height: 100%;
    background-color: #a1a1a186;
    top: 0;
    left: 0;
    position: fixed;
    transition: 0.5s;
    font-size: 30px;
    transition: 1000ms;
}


.example-container p{
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    font-size: 20px;
    display: inline;
    padding : 8px;
    transition: 0.3s;
    color: rgb(252, 252, 252);
}
#menu-icon{
    padding-bottom: 30px;
}

#home-icon{
    padding-bottom: 30px;
}

#pass-icon{
    bottom: 0;
    position: absolute;
}
#pass-icon p{
    display: inline-block;
}

.icon-column i{
    display: relative;
    text-align: center;
    padding-top: 60px;
    display: block;
    padding : 10px 10px 10px 32px;
    padding-bottom: 30px;
    transition: 0.3s;
    color: rgb(252, 252, 252);
}

.example-container i:hover{
    color: #007bff;
}

.example-container p:hover{
    color: #007bff;
}

.root-container{
    justify-content: center;
}