<div class="main-container-app">
    <mat-drawer-container class="example-container">
        <div class="icon-column">
            <i id="menu-icon" class="fas fa-bars" (click)="toggleSideNav()"></i>
            <i id="home-icon" class="fas fa-home">
                <p *ngIf='showFiller' (click)="toggleEditor('index')">Home</p>
            </i>
            <i class="fas fa-user">
                <p *ngIf='showFiller' (click)="toggleEditor('privato')">Privato</p>
            </i>
            <i class="fas fa-building">
                <p *ngIf='showFiller' (click)="toggleEditor('azienda')">Azienda</p>
            </i>
            <i id="pass-icon" class="fas fa-unlock">
                <p *ngIf='showFiller' (click)="toggleEditor('changepassword')">Cambia Password</p>
            </i>
        </div>

    </mat-drawer-container>

    <div class="root-container">
        <router-outlet></router-outlet>
    </div>

    <mat-drawer-container class="registrationSidenav" *ngIf=confirmRegistration [@timedAnimation]=confirmRegistration>
        <div class="alert alert-success" role="alert">
            <strong>Registrazione completa!</strong>
        </div>
    </mat-drawer-container>

    <mat-drawer-container class="duplicatedEmailError" *ngIf=emailDuplicate [@timedAnimation]=emailDuplicate>
        <div class="alert alert-danger" role="alert">
            <strong>L'email esiste gia!</strong>
        </div>
    </mat-drawer-container>


</div>
