body {
    padding: 30px;
    color: #007bff;
}

#svg {
    width: 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: .25rem;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #007bff;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #007bff;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
       
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    }

    a:not([href]):not([tabindex]){
        font-family: sans-serif;
     }

   