body {
    padding: 30px;
    color: #f8f8f8;
    transition: background-color .5s;
    background-image: url("assets/Protruding-Squares.svg") !important;
}

#svg {
    width: 30px;
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    flex-direction: colum;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    
    white-space: nowrap;
    background-color: #a1a1a186;
    border: 1px solid #a1a1a186;
    border-radius: .25rem;
    
    }
.form-control {
        display: flex;
        flex-direction: colum;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        background-color:white;
        background-clip: padding-box;
        border: 1px solid #a1a1a186;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  .input-group{
    margin: 4px 0;
    width: 400px;
  }
 
  .btn-outline-primary {
    color: white;
    border-color: white;
    }
    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: white;
        background-color: transparent;
        
    }
    .btn-outline-primary :hover{
        color: white;
    } 
    .container{
        width: 50%;
        height: 50%;
    }

    .titolo{
        font-size: 35px;
        font-family: 'Roboto', "Helvetica Neue", sans-serif;
        padding-bottom: 35px;
    }

    #titolo{
        font-size: 35px;
        padding-bottom: 35px;
    }